.App {
  display: flex;
  justify-content: center;
  align-content: center;
}

#mainDiv{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  width:70vh;
  height: 70vh;
  margin-top:15vh;
}
.ele{
  border: 1px solid black;
  background: rgb(240, 240, 255);
  margin: 3px;
  justify-content: center;
  align-content: center;
  text-align: center;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#submit{
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 4px;
  box-sizing: border-box; 
  position: absolute;
  top: 85%;
  cursor: pointer;
}